<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href-"/blog">Blog</a></li>
		<li><a href="/twitch">Twitch</a></li>
		<img src="https://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" />
	</ul>
</nav>