<!DOCTYPE html>
<html>

<head>
    {% include head.html %} {% include scripts.html %}
    <script>
      twitchAuth();
    </script>
</head>

<body>
    <div class="container">

        {% include header.html %} {{ content }} {% include footer.html %}
    </div>
    <!-- /.container -->

</body>

</html>
